<?xml version="1.0"?>
<config>
    <modules>
        <Collinsharper_Canpar>
            <version>0.1.5</version>
        </Collinsharper_Canpar>
    </modules>
    <global>
        <models>
            <canparmodule>
                <class>Collinsharper_Canpar_Model</class>
                <resourceModel>canpar_entity</resourceModel>
            </canparmodule>
            <canpar_entity>
                <class>Collinsharper_Canpar_Model_Mysql4</class>
                <entities>
                    <manifestshipment>
                        <table>ch_canpar_manifest_shipment</table>
                    </manifestshipment>
                    <manifest>
                        <table>ch_canpar_manifest</table>
                    </manifest>
                    <shipment>
                        <table>ch_canpar_shipment</table>
                    </shipment>
                </entities>
            </canpar_entity>
        </models>
        <blocks>
            <canparmodule>
                <class>Collinsharper_Canpar_Block</class>
            </canparmodule>
            <checkout>
                <rewrite>
                    <cart_shipping>Collinsharper_Canpar_Block_Cart_Shipping</cart_shipping>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <canparmodule>
                <class>Collinsharper_Canpar_Helper</class>
            </canparmodule>
        </helpers>
        <resources>
            <canparmodule_setup>
                <setup>
                    <module>Collinsharper_Canpar</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </canparmodule_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <canpar_sales_order_observer>
                        <type>singleton</type>
                        <class>canparmodule/order_observer</class>
                        <method>save_canpar_options</method>
                    </canpar_sales_order_observer>
                </observers>
            </sales_order_place_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <core_block_shipping_options_canpar>
                        <type>singleton</type>
                        <class>canparmodule/observer</class>
                        <method>updateShippingBlockOptions</method>
                    </core_block_shipping_options_canpar>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <canpar before="Mage_Adminhtml">Collinsharper_Canpar_Adminhtml</canpar>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <canpar>
                <use>standard</use>
                <args>
                    <module>Collinsharper_Canpar</module>
                    <frontName>canpar</frontName>
                </args>
            </canpar>
        </routers>
        <layout>
            <updates>
                <canparmodule>
                    <file>chcanpar.xml</file>
                </canparmodule>
            </updates>
        </layout>

    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <canparmodule>
                    <file>chcanpar.xml</file>
                </canparmodule>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <carriers>
            <canparmodule>
                <active>1</active>
                <allowed_methods>1,2,3,4,5,C,D,E,F,G,H,I</allowed_methods>
                <model>Collinsharper_Canpar_Model_Carrier_Shippingmethod</model>
                <title>Canpar Shipping</title>
                <name>Canpar</name>
                <addon_endpoint>https://sandbox.canpar.com/canshipws/services/CanparAddonsService</addon_endpoint>
                <business_endpoint>https://sandbox.canpar.com/canshipws/services/CanshipBusinessService</business_endpoint>
                <enpoint>https://sandbox.canpar.com/canshipws/services/CanparRatingService</enpoint>
                <handling_type>fixed</handling_type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <width>10</width>
                <length>10</length>
                <height>10</height>
                <instruction></instruction>
                <estimated_deliver_date_margin>1</estimated_deliver_date_margin>
                <dg>0</dg>
                <default_weight_unit>LB</default_weight_unit>
                <failover_ratetitle>Canpar Standard Rate</failover_ratetitle>
                <failover_rate>0</failover_rate>
                <default_weight>0</default_weight>
                <default_weight_unit>LB</default_weight_unit>
                <nsr>0</nsr>
                <xc>0</xc>
                <default_dimentional_unit>IN</default_dimentional_unit>
            </canparmodule>
        </carriers>
    </default>
</config>
