<?xml version="1.0"?>
<config>
    <modules>
        <Collinsharper_MeasureUnit>
            <version>1.0.4</version>
        </Collinsharper_MeasureUnit>
    </modules> 
    <global>
        <models>
            <chunit>
                <class>Collinsharper_MeasureUnit_Model</class>
                <resourceModel>chunit_entity</resourceModel>
            </chunit>
        <chunit_entity>
            <class>Collinsharper_MeasureUnit_Model_Mysql4</class>
        </chunit_entity>
        </models>
        <resources>
            <chunit_setup>
                <setup>
                    <module>Collinsharper_MeasureUnit</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chunit_setup>
            <chunit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </chunit_write>
            <chunit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </chunit_read>
        </resources>
        <helpers>
            <chunit>
                <class>Collinsharper_MeasureUnit_Helper</class>
            </chunit>
        </helpers>
    </global>
    <default>
        <catalog>
            <measure_units>
                <weight>kg</weight>
                <length>m</length>
                <default_length>10</default_length>
                <default_width>10</default_width>
                <default_height>10</default_height>
            </measure_units>
            <product_data>
                <product_length>length</product_length>
                <product_width>width</product_width>
                <product_height>height</product_height>
            </product_data>
        </catalog>
    </default>
</config>
